doctype html
html(lang="zh")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title}
    link(rel="stylesheet", href="https://cdn.bootcdn.net/ajax/libs/normalize/8.0.1/normalize.min.css")
    link(rel="stylesheet", href="/css/index.css")
    link(rel="stylesheet", href="/css/common.css")

  body
    main(class="page")
      header(class="")
        div(class="logo_wrap")
        h1(class="title") Red Romance
      section(class="content") 
        p 这是我随便写的
          
        a(href="www.baidu.com") test

        div 
          button(class="button button-primary" id="test") click me


      footer 
        p 这是个脚标

      script(src="/js/bundle.js") 