doctype html
html(lang="zh")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title}
    link(rel="stylesheet", href="https://cdn.staticfile.org/bootstrap/5.2.0-beta1/css/bootstrap.min.css")
    link(rel="stylesheet", href="css/index.css")

  body
    header(class="navbar navbar-expand-md navbar-dark page-header sticky-top")
      nav(class="container-lg flex-wrap")
        button(class="navbar-toggler" type="button" data-bs-toggle="collapse")
          span(class="navbar-toggler-icon")
        h1 Red Romance
    main(class="container-fluid page")
      //- header(class="")
      //-   div(class="logo_wrap")
      //-   h1(class="title") Red Romance
      //- section(class="content") 
      //-   p 这是我随便写的，我随便改点
          
      //-   a(href="www.baidu.com") test

      //-   div 
      //-     button(class="btn btn-primary" id="test") click me


      //- footer 
      //-   p 这是个脚标

      script(src="https://cdn.staticfile.org/bootstrap/5.2.0-beta1/js/bootstrap.bundle.min.js") 
      //- script(src="/js/bundle.js") 