body * {
  box-sizing: border-box;
}

main.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  flex: 1;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
}
.content-container .page-content {
  flex: 1;
  padding: 24px;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  background-color: #fff;
}

.rr-bg-800 {
  background-color: #653208;
}

.user-form {
  max-width: 600px;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
}

.hasError {
  color: #e10000;
}